@* later this has to be moved to a different assembly*@
@page "/dishes/details/{Id:guid}"
@using Gastronomy.UI.Dishes


<div class="p-5">
    <MudGrid>
        <MudItem xs="6">
            <EditDishComponent DishDetails="@_dishDetails"
                Categories="@_allCategories"/>
        </MudItem>
        <MudItem xs="6">
            @if (_dishDetails is not null)
            {
                <EditDishPhotosComponent DishId="@_dishDetails.Id" />
            }
        </MudItem>
    </MudGrid>
</div>